@font-face {
  font-family: "iconfont"; /* Project id 4874278 */
  src: url('iconfont.woff2?t=1785253511014') format('woff2'),
       url('iconfont.woff?t=1785253511014') format('woff'),
       url('iconfont.ttf?t=1785253511014') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-resume-line:before {
  content: "\e64a";
}

.icon-anse:before {
  content: "\e6cb";
}

.icon-xitong:before {
  content: "\e621";
}

.icon-baisezhuti:before {
  content: "\e652";
}

.icon-rengongzhineng:before {
  content: "\e692";
}

.icon-Gemini:before {
  content: "\e742";
}

.icon-sousuo:before {
  content: "\e62a";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-shujia:before {
  content: "\e60d";
}

.icon-wenjianjia1:before {
  content: "\e629";
}

.icon-shujia1:before {
  content: "\e696";
}

.icon-xinjianxiangmu:before {
  content: "\e64e";
}

.icon-xiangzi:before {
  content: "\e646";
}

.icon-xiangzi1:before {
  content: "\e6ca";
}

.icon-xiangzi2:before {
  content: "\ead1";
}

.icon-bianji:before {
  content: "\e61e";
}

.icon-icon_cebianlan:before {
  content: "\e609";
}

.icon-logo1:before {
  content: "\e608";
}

.icon-douyin1:before {
  content: "\e665";
}

.icon-tieba:before {
  content: "\e633";
}

.icon-csdn:before {
  content: "\e604";
}

.icon-shejiaotubiao-10:before {
  content: "\e641";
}

.icon-Chatgpt:before {
  content: "\e801";
}

.icon-tongyiqianwenTongyi-Qianwen:before {
  content: "\e63d";
}

.icon-douyin:before {
  content: "\e670";
}

.icon-logo:before {
  content: "\e725";
}

.icon-doubao:before {
  content: "\ea85";
}

.icon-baiduchatgpt:before {
  content: "\e607";
}

.icon-icon_baidulogo:before {
  content: "\e65e";
}

.icon-biying:before {
  content: "\e602";
}

.icon-guge:before {
  content: "\e81b";
}

.icon-node:before {
  content: "\e7af";
}

.icon-shezhi:before {
  content: "\e651";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-jihua:before {
  content: "\e603";
}

.icon-zhuye:before {
  content: "\e663";
}

.icon-filter:before {
  content: "\e838";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-tengxunQQ:before {
  content: "\e655";
}

.icon-kemuxuanzhuanye:before {
  content: "\e614";
}

.icon-xueli:before {
  content: "\e7a9";
}

.icon-gongzuojingyan:before {
  content: "\e6c6";
}

.icon-React:before {
  content: "\e79a";
}

.icon-tengxun-:before {
  content: "\e62c";
}

.icon-grafana:before {
  content: "\e600";
}

.icon-wodeyouxiang:before {
  content: "\e601";
}

.icon-git:before {
  content: "\e658";
}

.icon-less:before {
  content: "\e688";
}

.icon-dianhua:before {
  content: "\e605";
}

.icon-JavaScriptdaima:before {
  content: "\e7bf";
}

.icon-xiangmu_uniapp:before {
  content: "\e606";
}

.icon-geshicss_mime-css:before {
  content: "\e735";
}

.icon-leaflet:before {
  content: "\e628";
}

.icon-TypeScript:before {
  content: "\e6f9";
}

.icon-element-plus:before {
  content: "\e67c";
}

.icon-chat-gpt:before {
  content: "\e616";
}

.icon-HTML:before {
  content: "\e617";
}

.icon-Vue:before {
  content: "\e799";
}

