.sider-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1vh;
    left: 1vh;
    z-index: 10;
    border-top-right-radius: 8px;

    .icon-btn {
        width: 56px;
        height: 40px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        .icon-btn-box {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            z-index: 111;
        }
    }

    .sider-header-btn {
        width: 94px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .ant-btn {
            margin: 0;
            padding: 0 5px;
        }
        .closeSider-icon {
            font-size: 28px;
            color: var(--custom-icon);
        }
        .addInfo-icon {
            font-size: 20px;
            color: var(--custom-icon);
        }
    }

    .collapsed {
        background-color: var(--glass-morphism); // --glass-morphism-bg
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); /* Safari 兼容前缀 */

        border-radius: 20px;
        box-shadow: var(--custom-shadow-lg);
    }
}

.sider-collapsed {
    border-radius: 20px;
    background-color: var(--glass-morphism-bg); //
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* Safari 兼容前缀 */
}
